/* Document */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Flow Content */

ol,
ul {
    list-style: none;
}

table {
    inline-size: 100%;
    border-spacing: 0;
    font-variant-numeric: tabular-nums;
}

th,
td {
    vertical-align: top;
    text-align: start;
}

/* Embedded & Interactive Content */

img,
svg,
picture,
canvas,
audio,
video {
    vertical-align: middle;
    max-inline-size: 100%;
}

img,
svg,
canvas,
video {
    block-size: auto;
}

audio {
    inline-size: 100%;
}

details {
    display: block;
}

summary {
    display: list-item;
}

[hidden] {
    display: none !important;
}

/* Form-associated Content */

button,
input,
select,
textarea {
    font: inherit;
    line-height: inherit;
}

textarea {
    resize: vertical;
}

button {
    appearance: none;
    color: currentcolor;
    background: none;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

fieldset {
    min-inline-size: 0;
    border: 0;
}

legend {
    display: table;
    min-inline-size: 100%;
}
