/* {@link https://github.com/jensimmons/cssremedy} */

:where(:root:lang(en), [lang]:lang(en)) {
  quotes: '\201c' '\201d' '\2018' '\2019'; /* “ ” ‘ ’ */
}

:where(:root:lang(de), [lang]:lang(de)) {
  quotes: '\201e' '\201c' '\201a' '\2018'; /* „ “ ‚ ‘ */
}

q,
blockquote {
  quotes: inherit;
}

blockquote {
  hanging-punctuation: first;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}
