/* {@link https://every-layout.dev/layouts/stack/ The Reel} */

.slider {
  --slider-thumb-color: var(--color-primary-400);
  --slider-track-color: var(--color-background, #fff);
  --slider-gutter: var(--space-sm-md);

  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--slider-track-color) var(--slider-thumb-color);
}

.slider::after {
  content: "";
  flex-basis: var(--slider-gutter);
  flex-shrink: 0;
}

.slider > * {
  flex: 0 0 auto;
  margin: var(--slider-gutter);
  margin-inline-end: 0;
}

.slider > img {
  flex-basis: auto;
  block-size: 100%;
  inline-size: auto;
}

.slider.has-overflowing-content {
  padding-block-end: 1rem;
}
