/* {@link https://every-layout.dev/layouts/cluster/ The Cluster} */

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-gutter, var(--space-md));
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
}
