/* {@link https://every-layout.dev/layouts/center/ The Center} */

.container {
  max-inline-size: var(--container-width, 64rem);
  padding-inline: var(--container-margin, var(--space-sm-md));
  margin-inline: auto;
}

.container--narrow {
  --container-width: 40rem;
}

.container--wide {
  --container-width: 80rem;
}
